    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Project Earth</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                     <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#data_map">Employment in Agriculture</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#cereal">Cereal Growth</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#population">Population</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"><strong>How Does Your Garden Grow</strong></div>
                <!-- <div class="intro-heading">It's Nice To Meet You</div> -->
                <a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>
<!-- about -->

    <section id="about">
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
</br>
             <h5>Can we ever solve the problem of World Hunger?</h5>
             <h5>The Food Direction Challenge is an ambitious attempt to solve </h5><h5>
             the problem of World Hunger.</h5>
             <h5>Smart farming and agricultural use of land globally could </h5>
             <h5>be the answer to eliminating world hunger.</h5></br>
             <h5>In our project we look at the data trends that emerge and try</h5>
             <h5>to create a way to visualize food direction across the globe.</h5>
             <h5>For bulk of the project we graphed employment in agriculture,</h5><h5> cereal yields, and population growth over the past few years.</h5></br>

             <h5>We are hoping that the findings in the data collected will help</h5>
             <h5> solving the problems of world hunger. A lot of the data found</h5>
             <h5>show that agriculture does produce enough crops to sustain the</h5>
             <h5>current human population. </h5>
                </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Data map-->
    <section id="data_map">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Employment in Agriculture</h1>

          <!--    <img src="assets/gif/world.gif"> -->
                        <script type='text/javascript' src='https://public.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 982px; height: 742px;'><noscript><a href='#'><img alt='Sheet 1 - 2013 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;57&#47;57DBTBCWG&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' width='982' height='642' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='path' value='shared&#47;57DBTBCWG' /> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;57&#47;57DBTBCWG&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='showVizHome' value='no' /><param name='bootstrapWhenNotified' value='true' /></object></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Cereal growth -->
    <section id="cereal" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Cereal Growth</h2>
                    <img src="assets/general/crop_yeild.png">
                </div>
            </div>
        </div>
</section>

<!-- population growth -->
<section id="population" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Population Growth</h2>
                    <img src="assets/general/population_growth.png">
                </div>
            </div>
        </div>
</section>




